@model Mini_Project.Models.Account

@{
    ViewBag.Title = "LoggedIn";
}
<div class="custom-checkphonenumber" style="margin-bottom: 420px;">
    <div class="form-horizontal">

        <h1 style="color:#8e9297; text-align:center">Page under maintenance</h1>
</div>
</div>