@model Mini_Project.Models.Account

@{
    ViewBag.Title = "Terminate";
}


<div class="custom-checkphonenumber" style="margin-bottom: 445px;">
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div h4 style="text-align: justify; font-size: 16px; color: #8e9297; margin-bottom: 30px;">You have successfully terminated your account!</div>



        <div>
            @Html.ActionLink("Click here to return to the main page", "LogIn", "Account")
        </div>
    </div>
</div>
